body {
  position: relative;
}

.header-container {
  height: 50px;;
  display: flex;
  background-color: #000;
  color: #fff;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
}

.header-title {
  line-height: 50px;
  margin-left: 50px;
}

.menu-btn {
  margin-right: 40px;
  background-color: #000;
  color: #fff;
}

.menu-container {
  width: 400px;
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #ccc;
  background-color: #fff;
}

.menu-area {
  text-indent: 20px;
  height: 30px;
  line-height: 30px;
  background-color: rgb(235, 235, 235);
  
}

.menu-noti {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-indent: 20px;
  height: 30px;
  line-height: 30px;
  background-color: rgb(235, 235, 235);
}

div.ui.feed {
  margin:14px 0px 14px 20px;
  height: 50px;
}

.menu-close-btn {
  position: absolute;
  top: 8px;
  right: 15px;
  background-color: inherit;
}

/* 컨텐츠 영역 */
.content-container {
  display: flex;
  justify-content: space-around;
  /* overflow-x: scroll; */
  height: 500px;
  padding: 10px 20px 10px 20px;
  
}

.todo-column {
  width: 220px;
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
}

.progress-column {
  width: 220px;
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
}

.done-column {
  width: 220px;
  background-color: rgb(236, 236, 236);
  border-radius: 10px;
}

.add-column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  border-radius: 10px;
  border: 1px dashed #ccc;
  height: 100px;
}

.add-text {
  text-align: center;
  margin: 0 auto;
  width: 100px;
}